{% extends "layout.html" %}

{% block title %}
    Contest
{% endblock %}

{% block head %}
     <script src="{{ url_for('custom_static4',filename='langs.js') }}"></script>

<style>

.codearea{
    width:100%;
    position:relative;
    float:right;
    border:1px black solid;
}
textarea {
    resize: none;
    background-color:#141414;
    text-align:left;
    
}
#editor{
    width:100%;
    height:360px;
}

#stdin{
    color:white;
    width:100%;
    height:70px;
}
#output{
  width:100%;
  height:120px;
  background-color:#141414;
  color:white;
  text-align:left;
}

.dropdowns > select{
    float:right;
	position: relative;
	-webkit-transition: color 1s ease, background-color 1s ease;
	-moz-transition: color 1s ease, background-color 1s ease;
	-o-transition: color 1s ease, background-color 1s ease;
	transition: color 1s ease, background-color 1s ease;
}
.dropdowns select:hover {
    color: #FFFFFF;
	background-color: #91A3C2;
}
.questions{
    display:block;
    float:left;
    text-align:left;
}
.input{
    color:red;
    background-color:#F0F0F0;
    border:1px black solid;
}
.center{
    text-align:center;
}
h3 {
   border:1px black solid; 
}
.invis{
    visibility:hidden;
}
.btn{
    
    border:1px blue solid;
}
.container>main{
    padding-left:20px;
}
</style>


{% endblock %}
 

{% block main %}

{% if not data: %}
<h1 class=Center>Quitters Never Win and Winners Never QUIT!</h1>
      <form action="{{ url_for('contests') }}" method="post">
       <div class="form-group center">
           <select name="select" autofocus class="form-control">
                  <option disabled selected value>Choose Problem!</option> 
                  
                  {% for question in questions %}
                  <option value="{{question["header"]}}">{{question["header"]}}</option> 
                 {% endfor %}
            </select>
        </div>
        <div class="form-group">
                <button class="blue btn btn-default" type="submit">Choose</button>
        </div>
    </form>
{% endif %}





{% if data: %}
<div class="container-fluid">
<div class="row">
<div class="col-md-8">
<div class="questions">
    <div class="center">
    <h1 id="name">{{data[0]["header"]}}</h1>
    <p>time limit per test : {{data[0]["timelimit"]}} second</p>
    <p>memory limit per test : {{data[0]["memorylimit"]}} megabytes</p>
    <p>input standard : standard input</p>
    <p>output standard : standard output</p>
    </div>
    <p>{{data[0]["explaination"] | safe}}</P>
<strong>Input</strong>
<p>{{data[0]["inputExp"] | safe}}</p>
<strong>Output</strong>
<p>{{data[0]["outputExp"] | safe}}</p>
<h4>Examples</h4>
<div class="examples">
    <h3>input</h3>
    <p class="input">{{data[0]["stdinHelp"] | safe}}</p>
    <h3>Output</h3>
    <p class="input">{{data[0]["outputHelp"] | safe}}</p>
    
</div>    
<b>Note:</b>

{{data[0]["note"] | safe}}

</div>
</div>



<div class="col-md-4" style="float:right;    padding-top: 18px;">
<div class="codearea">
    <div class="dropdowns">

 <select id="language" autofocus class="form-control" onchange="run()">
                     
                  <option selected value="0">python</option> 
                  <option value="1">ruby</option> 
                  <option value="2">clojure</option> 
                  <option value="3">php</option> 
                  <option value="4">javascript</option> 
                  <option value="6">golang</option> 
                  <option value="7">c_cpp</option> 
                  <option value="8">java</option> 
                  <option value="10">csharp</option> 
                  <option value="12">objectivec</option> 
                  <option value="13">perl</option> 
                  <option value="14">rust</option> 
</select>
 <select id="theme" class="form-control" onchange="theme()">
     <option selected disabled>Theme</option>
     <option value="github">Light</option>
     <option value="twilight">Dark</option>

 </select>    
</div>
<pre id="editor">print ("HELLO WORLD")</pre>
  
<label>INPUT:</label>
    <textarea id="stdin"></textarea>
<label>Output:</label>
    <textarea  id="output" disabled>Output of all tests appear here</textarea>
    <input type="button" value="Run" id="send" class="btn btn-default">
    <input type="button" value="Submit" id="submit" class="btn btn-default">
</div>
<div class="invis">
<div id="inputt">{{data[0]["stdin"]}}</div>
<div id="expectedOutput">{{data[0]["expectedOutput"]}}</div>
<div id="timelimit">{{data[0]["timelimit"]}}</div>
<div id="test"></div>
 </div>

</div>
</div>
 
 </div>
 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ url_for('custom_static', filename='ace.js') }}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    
    
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/python");
    run();
    var test,lang,e,codeF,i,length;
    var flag=true;
    function run(){
    e = $('#language option:selected').text();
    editor.session.setMode("ace/mode/"+e);
    lang = $('#language').val();
    if (lang==0) editor.setValue("print \"Hello\"",-1);
    if (lang==7) editor.setValue("#include <iostream>\nusing namespace std;\n\nint main() {\n\tcout<<\"Hello\";\n\treturn 0;\n}",-1);
    if (lang==8) editor.setValue("// java exmple code\n\n//this will import required libraries\nimport java.util.*;\n\nclass Main{\n\npublic static void main(String args[]){\n\n\t//this will print hello wrold\n\tSystem.out.println(\"Hello World\");\n\n\t// this will read INTEGER FROM USERINPUT\n\tScanner input=new Scanner(System.in);\n\tint b = input.nextInt();\n\n\t// this will print the user input\n\tSystem.out.println(b);\n\n}\n}\n\n//Please Input a number to see how the code works!!",-1);

    }
    var timelim=$('#timelimit').text();
    var timelim=parseInt(timelim);
    // Get selected Language
    var stdin =$('#inputt').text().split(',');
    var dataout =$('#expectedOutput').text().replace(/(\r\n|\n|\r)/gm,"").split(',');

    // Get Selected Theme
    function theme(){
        var t=$('#theme option:selected').val();
        editor.setTheme("ace/theme/"+t);
    }
    
  
    
    // submit user given code
    $('#submit').on('click', function(){
     document.getElementById("output").innerHTML = "Testing ... ";
     document.getElementById("test").innerHTML ="";
        codeF = editor.getValue();
    
       //initlize variables
       
    i=0;
    length=stdin.length;
    
    calls(i,length);  

    
});

 //function...
    function calls(i,maxcalls){
        //break the recursive
         $("#submit").prop('disabled', true);
        $("#send").prop('disabled', true);

        if (i==maxcalls){
            console.log("Running Test Now");
            var out =$('#test').text().replace(/(\r\n|\n|\r)/gm,"").split(',');
            flag=true;
            for(var j=0;j<length;j++){
                console.log(out[j],dataout[j]);
                   if ((out[j].toString()) != (dataout[j].toString())){
                       document.getElementById("output").innerHTML = "Test Failed at input:" + " " +stdin[j]+ " Expected output:" + " " +dataout[j];
                       flag=false;
                       break;
                     }
            }       
            if (flag==true){
                    document.getElementById("output").innerHTML="Success!";
                             
                 var solvedd = {
                    name:$('#name').text()
                };
        //post request to that link and get the output
                
                $.post(Flask.url_for("Contestsolved"), JSON.stringify(solvedd))
                .success(function(data, error, xhr) {
                             alert("Question Solved Congrats!!");
                });
            }
        $("#submit").prop('disabled', false);
        $("#send").prop('disabled', false);

        return;
        }
       
         var json = {
            language: lang,
            code: codeF,
            timeout:15,
            stdin:stdin[i]
        };
        //post request to that link and get the output
        
        $.post(Flask.url_for("compiler"), JSON.stringify(json))
        .success(function(data, error, xhr) {
                $("#test").append(data.output+",");
                  if(lang==8){
                      timelim=5;
                  }
                 if(data.time>timelim){
                      document.getElementById("output").innerHTML="Timed out";
                        $("#submit").prop('disabled', false);
                        $("#send").prop('disabled', false);

                     return;
                 }
                if(data.errors){
                document.getElementById("output").innerHTML=data.errors;
                 $("#submit").prop('disabled', false);
        $("#send").prop('disabled', false);

                    return;
                }
                    calls(i+1,maxcalls);

            
        })
        .fail(function(xhr, error, errorThrown) {
        
        // log error to browser's console
        document.getElementById("output").innerHTML=errorThrown.toString();
        $("#submit").prop('disabled', false);
        $("#send").prop('disabled', false);

        return;    
    });
}


         

      
    //COMPILE USER GIVEN CODE
    
    $('#send').on('click', function() {
        var codeF = editor.getValue();
        var stdin = $('#stdin').val();
    // passing the json file to the page 
        var json = {
            language: lang,
            code: codeF,
            stdin:stdin,
            timeout:10
        };
        //post request to that link and get the output
        
        $.post(Flask.url_for("compiler"), JSON.stringify(json))
        .success(function(data, error, xhr) {
                document.getElementById("output").innerHTML=data.output + '\n' +'-----------------' +'\n'+ 'Execution Time : ' + data.time;
                if(data.errors){
                document.getElementById("output").innerHTML=data.errors;
                }
        })
        .fail(function(xhr, error, errorThrown) {
        document.getElementById("output").innerHTML=errorThrown.toString();


    });
});

</script>
{% endif %}
{% endblock %}