{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block head %}
     <script src="{{ url_for('custom_static4',filename='langs.js') }}"></script>

<style>

.codearea{
    width:500px;
    height:640px;
    display: block;
    border:1px solid black;
    position:relative;
    float:right;
}
textarea {
    resize: none;
    background-color:black;
    text-align:left;
    
}
#editor{
    width:100%;
    height:360px;
}
label{
    background-color:gray;
}
#stdin{
    color:white;
    width:100%;
    height:75px;
}
#output{
  width:100%;
  height:90px;
  background-color:black;
  color:white;
  text-align:left;
}


</style>


{% endblock %}


{% block main %}
<div class="codearea">
<pre id="editor">PRINT ("HELLO WORLD")</pre>

<label>STDIN:</label>
    <textarea id="stdin"></textarea>
<label>Output:</label>
    <p  id="output">Output of all tests appear here</p>
    <input type="button" value="Compile" id="send">
</div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ url_for('custom_static', filename='ace.js') }}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/python");
    
   
    //COMPILE USER GIVEN CODE
    $('#send').on('click', function() {
        var codeF = editor.getValue();
        var stdin = $('#stdin').val();
// passing the json file to the page 
        var json = {
            language: 0,
            code: codeF,
            stdin:stdin
        };
        console.log(json);

        $.post("http://178.62.118.95:8081/compile", json, function(data, error, xhr) {

            document.getElementById("output").innerHTML = data.output;
        });
    });

</script>
{% endblock %}