{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block head %}
     <script src="{{ url_for('custom_static4',filename='langs.js') }}"></script>

<style>

.codearea{
    width:500px;
    height:670px;
    display: block;
    position:relative;
    float:right;
border:1px black solid;
}
textarea {
    resize: none;
    background-color:black;
    text-align:left;
    
}
#editor{
    width:100%;
    height:360px;
}

#stdin{
    color:white;
    width:100%;
    height:75px;
}
#output{
  width:100%;
  height:90px;
  background-color:black;
  color:white;
  text-align:left;
}

.dropdowns > select{
    float:right;
	position: relative;
	-webkit-transition: color 1s ease, background-color 1s ease;
	-moz-transition: color 1s ease, background-color 1s ease;
	-o-transition: color 1s ease, background-color 1s ease;
	transition: color 1s ease, background-color 1s ease;
}
.dropdowns select:hover {
    color: #FFFFFF;
	background-color: #91A3C2;
}
.questions{
    display:block;
    float:left;
    width:60%;
    height:800px;
    text-align:left;
}
.input{
    color:red;
    background-color:gray;
    border:1px black solid;
}
.center{
    text-align:center;
}
h3 {
   border:1px black solid; 
}
.invis{
    visibility:hidden;
}

</style>


{% endblock %}
 

{% block main %}

{% if not data: %}
      <form action="{{ url_for('practice') }}" method="post">
       <div class="form-group center">
           <select name="select" autofocus class="form-control">
                  <option disabled selected value>Choose Problems</option> 
                  
                     
                  <option value="Watermelon">WaterMelon EASY</option> 
                  
            </select>
        </div>
            
        <div class="form-group">
                <button class="blue btn btn-default" type="submit">Choose</button>
        </div>
        
    </form>

{% endif %}

{% if data: %}
<div class="questions">
    <div class="center">
    <h1>{{data[0]["header"]}}</h1>
    <p>time limit per test : {{data[0]["timelimit"]}} second</p>
    <p>memory limit per test : {{data[0]["memorylimit"]}} megabytes</p>
    <p>input standard : input</p>
    <p>output standard : output</p>
    </div>
    <p>{{data[0]["explaination"]}}</P>
<strong>Input</strong>
<p>{{data[0]["inputExp"]}}</p>
<strong>Output</strong>
<p>{{data[0]["outputExp"]}}</p>
<h4>Examples</h4>
<div class="examples">
    <h3>input</h3>
    <p class="input">{{data[0]["stdinHelp"]}}</p>
    <h3>Output</h3>
    <p class="input">{{data[0]["outputHelp"]}}</p>
    
</div>    
<b>Note:</b>
<p>
{{data[0]["note"]}}
</p>
</div>

<div class="codearea">
    <div class="dropdowns">

 <select id="language" autofocus class="form-control" onchange="run()">
                     
                  <option selected value="0">python</option> 
                  <option value="1">ruby</option> 
                  <option value="2">clojure</option> 
                  <option value="3">php</option> 
                  <option value="4">javascript</option> 
                  <option value="6">golang</option> 
                  <option value="7">c_cpp</option> 
                  <option value="8">java</option> 
                  <option value="10">csharp</option> 
                  <option value="12">objectivec</option> 
                  <option value="13">perl</option> 
                  <option value="14">rust</option> 
</select>
 <select id="theme" class="form-control" onchange="theme()">
     <option selected disabled>Theme</option>
     <option value="github">Light</option>
     <option value="twilight">Dark</option>

 </select>    
</div>
<pre id="editor">PRINT ("HELLO WORLD")</pre>
  
<label>STDIN:</label>
    <textarea id="stdin"></textarea>
<label>Output:</label>
    <p  id="output">Output of all tests appear here</p>
    <input type="button" value="Compile" id="send">
    <input type="button" value="Submit" id="submit">
</div>
<div class="invis">
<div id="inputt">{{data[0]["stdin"]}}</div>
<div id="expectedOutput">{{data[0]["expectedOutput"]}}</div>
<div id="timelimit">{{data[0]["timelimit"]}}</div>
 </div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ url_for('custom_static', filename='ace.js') }}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    
    
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/python");
    run();
    var e;
    var lang;
    var timelim=$('#timelimit').text();
    var timelim=parseInt(timelim);
    console.log(typeof(timelim));
    // Get selected Language
    function run(){
    e = $('#language option:selected').text();
    editor.session.setMode("ace/mode/"+e);
    lang = $('#language').val();
 
    }
    // Get Selected Theme
    function theme(){
        var t=$('#theme option:selected').val();
        editor.setTheme("ace/theme/"+t);
    }
    //debug things
    console.log(e);
    console.log(lang);
    
    // submit user given code
    $('#submit').on('click', function(){
        //get user code and 
       var codeF = editor.getValue();
       // trim whitespace 
       var stdin = $.trim($('#inputt').text());
       var dataout = $.trim($('#expectedOutput').text());
       console.log(stdin);
       console.log(dataout);
       for(var i in stdin){
    // passing the json file to the page 
        var json = {
            language: lang,
            code: codeF,
            timeout:5,
            stdin:stdin
        };
        $.post("http://178.62.118.95:8081/compile", json, function(data, error, xhr) {
        if (data.ouput != dataout[i]){
           // alert("Check again")
            console.log("check again");
            
        }    
          
        });
       }
       //alert("good job")
    });
    
    
    
    //COMPILE USER GIVEN CODE
    $('#send').on('click', function() {
        var codeF = editor.getValue();
        var stdin = $('#stdin').val();
    // passing the json file to the page 
        var json = {
            language: lang,
            code: codeF,
            stdin:stdin,
            timeout:5
        };
        //debug
        console.log(json);
        //post request to that link and get the output
        
        $.post("http://178.62.118.95:8081/compile", json, function(data, error, xhr) {

            document.getElementById("output").innerHTML = data.output;
        });
    });

</script>
{% endif %}
{% endblock %}